@import url(../usuals/breakpoints.css);
@import url(../usuals/colors.css);
/*mobile*/
.hero{
  padding-inline: var(--mobile-inline);
  padding-block: 2rem 5rem;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 3rem;
  background-color: var(--gray--primary);
}
.hero__figcaption{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: var(--blue--tertiary);
  max-width: 50rem;
  text-align: center;
}
.hero__figcaption__navs{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.hero__figcaption__navs a{
  display: flex;
  align-items: center;
  gap: .5rem;
  color: var(--blue--primary);
}
.hero__figcaption__navs a span:nth-child(2), .hero__figcaption__navs a img{
  height: 2rem;
 animation: bounce-to-right 1.5s linear infinite;
}
@keyframes bounce-to-right {
  30%{
    transform: translateX(1rem);
  }
  60%{
    transform: translateX(.5rem);
  }
  90%{
    transform: translateX(1rem);
  }
  100%{
    transform: translateX(0rem);
  }
}

.hero__img{
  border-radius: 100%;
  width: clamp(25rem, 40vw, 45rem);
  background-image: linear-gradient(to top, 
  var(--blue--secondary),
  var(--blue--primary), 
  var(--blue--primary)
  )
  
}



/*tablet-xl*/
@media (min-width: 900px) {
  .hero{
    padding-inline: var(--tablet-xl-inline);
    flex-direction: row;
    justify-content: space-between;
  }
  .hero__figcaption{
    max-width: 60rem;
    text-align: start;
  }
  .hero__figcaption__navs{
    flex-direction: row;
  }
}

/*desktop*/
@media (min-width: 1450px) {
  .hero{
    padding-inline: var(--desktop-inline);
  }
}

/*desktop-xl*/
@media (min-width: 1800px) {
  .hero{
     padding-inline: var(--desktop-xl-inline);
  }
}