@import url(../usuals/breakpoints.css);
@import url(../usuals/colors.css);

/*mobile*/
.projects-article{
  padding-inline: var(--mobile-inline);
  padding-bottom: 10rem;
  background-color: var(--projects-bg--primary);
}
.projects-article__heading{
  padding-block: 6rem;
  color: var(--blue--tertiary);
  text-align: center;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.projects-article__list{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 13rem;
}
.projects-article__list__item{
  display: grid;
  grid-template-columns: 1fr;
  gap: 5rem;
  width: clamp(20rem, 100%, 50rem);
}
.projects-article__list__item figcaption{
  opacity: 0;
  animation: appear forwards;
  animation-timeline: view();
  animation-range-start: cover 0%;
  animation-range-end: cover 30%;
}
.projects-article__list__item img{
  transform: translate(calc(-1 * var(--mobile-inline)));
  animation: fly-in-right forwards;
  animation-timeline: view();
  animation-range-start: cover 0%;
  animation-range-end: cover 10%;
}
.projects-article__list__item:nth-child(even) img{
  transform: translate(var(--mobile-inline));
}
@keyframes appear {
  to{
    opacity: 1;
  }
}
@keyframes fly-in-right {
  to{
    transform: translate(0);
  }
}


.projects-article__list__item img{
  width: 100%;
  border: .1rem dotted var(--gray--secondary);
  border-radius: 1rem;
  aspect-ratio: 848/515;
  object-fit: cover;
}
.projects-article__list__item figcaption{
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 2rem;
}
.projects-article__list__item figcaption mark{
  padding: .5rem 2rem;
  border-radius: 2rem;
  font-size: clamp(1.3rem, 1vw, 1.4rem);
  font-weight: 600;
  letter-spacing: .2rem;
  color: var(--white);
  background-color: var(--blue--secondary);
}
.projects-article__list__item figcaption h4{
  text-transform: uppercase;
}
/*tablet-xl*/
@media (min-width: 1000px) {
  .projects-article{
    padding-inline: var(--tablet-xl-inline);
  }
  .projects-article__heading{
    text-align: start;
  }
  .projects-article__list{
    gap: 10rem;
  }
  .projects-article__list__item{
    grid-template-columns: 1fr 1fr;
    width: clamp(20rem, 100%, 100%);
    align-items: center;
    gap: 10%;
  }
  .projects-article__list__item figcaption{
    padding-right: 10%;
  }
  .projects-article__list__item:nth-child(even) figcaption{
    order: -1;
  }
  .projects-article__list__item img{
    transform: translate(calc(-1 * var(--tablet-xl-inline)));
    animation-range-start: cover 0%;
    animation-range-end: cover 40%;
  }
  .projects-article__list__item:nth-child(even) img{
    transform: translate(var(--tablet-xl-inline));
  }
}
/*desktop*/
@media (min-width: 1450px) {
  .projects-article{
    padding-inline: var(--desktop-inline);
  }
  .projects-article__list__item img{
    transform: translate(calc(-1 * var(--desktop-inline)));
  }
  .projects-article__list__item:nth-child(even) img{
    transform: translate(var(--desktop-inline));
  }
}
/*desktop-xl*/
@media (min-width: 1800px) {
  .projects-article{
     padding-inline: var(--desktop-xl-inline);
  }
}