.sidebar__nav ul{
  display: flex;
  flex-direction: column;
  gap: 3rem;
  height: 100vh;
  width: 25rem;
  position: fixed;
  top: 8rem; /*headers height*/
  right: -100%;
  padding: 4rem;
  background-color: var(--gray--primary);
  border-left: 1px dashed rgba(0, 0, 0, 0.2);
  z-index: 99;
}
.sidebar__nav ul li a:not(.button), select{
  display: flex;
  align-items: center;
  color: var(--gray--secondary);
}
.sidebar__nav ul li:hover a{
  color: var(--black);
  filter: brightness(0);
}
.sidebar__nav ul .active  {
 color: var(--blue--tertiary);
 text-decoration: underline .1rem dashed var(--blue--primary);
 text-underline-offset: .5rem;
}

.sidebar__nav ul li a:has(img){
  display: flex;
  align-items: center;
  gap: .4rem;
}
.sidebar__nav ul li a img{
  width: clamp(2rem, 2vw, 2.5rem);
}

/*Tablet-xl*/
@media (min-width: 900px) {
aside{
  display: none;
}
}
