/* aside{
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.49);
  z-index: -1;
} */
.sidebar__nav ul{
  display: flex;
  flex-direction: column;
  gap: 3rem;
  height: 100vh;
  width: 25rem;
  position: fixed;
  top: 8rem; /*headers height*/
  right: -100%;
  padding: 4rem;
  background-color: var(--gray-primary);
  border-left: 1px dashed rgba(0, 0, 0, 0.2);
  z-index: 99;
}
.sidebar__nav ul li a{
  display: flex;
  align-items: center;
  color: var(--gray);
}
.sidebar__nav ul li:first-child a, .sidebar__nav ul li:hover a {
 color: var(--black);
}


/*Tablet-xl*/
@media (min-width: 900px) {
aside{
  display: none;
}
}
