:root{
  --blue--primary: #347CB9;
  --blue--secondary: #093968;
  --blue--tertiary: #051F38;
  --aqua--primary:#5ED4FB;
  --aqua--secondary: #296d7a;
  --white: #F6FAFE;
  --gray: #737373;
  --black: black;
}
